.header-text {
    font-size: 24px;
    margin:0px 10px;
}
i.fa-shopping-cart {
    font-size:30px!important;
}
.header-text:first-child {
    margin-left:0px;
    margin-right:20px;

}
.margin-shopping-text {
    margin-left:15px;
    margin-right:20px;
}